# Copyright (c) 2025 The ZMK Contributors
# SPDX-License-Identifier: MIT

if ZMK_SPLIT && ZMK_SPLIT_ESB

menu "ESB Transport"

config ZMK_SPLIT_ESB_ROLE_CENTRAL
    bool

endmenu

config ZMK_SPLIT_ESB_PRIORITY
    int "ESB transport priority"
    default 2
    help
        Lower number priorities transports are favored over higher numbers.

config ZMK_SPLIT_ESB_PERIPHERAL_ID
    int "Default peripheral id for TX"
    default 0

config ZMK_SPLIT_ESB_PROTO_TX_ACK
    bool "Await ACK signal per sending packet for TX/RX"
    default y

config ZMK_SPLIT_ESB_PROTO_TX_RETRANSMIT_DELAY
    int "The delay between each retransmission of unacknowledged packets"
    default 600

config ZMK_SPLIT_ESB_PROTO_TX_RETRANSMIT_COUNT
    int "The number of retransmission attempts before transmission fail"
    default 3

config ZMK_SPLIT_ESB_PROTO_MSGQ_ITEMS
    int "Number of message queue size to buffer ESB payload for TX in between multi-protocol service timeslots (CONFIG_MPSL_TIMESLOT_SESSION_COUNT)"
    default 16

config ZMK_SPLIT_ESB_EVENT_BUFFER_ITEMS
    int "Number of peripheral events to buffer for TX/RX"
    default 16

config ZMK_SPLIT_ESB_CMD_BUFFER_ITEMS
    int "Number of central commands to buffer for TX/RX"
    default 4

config ZMK_SPLIT_ESB_TX_POWER_8DBM
    bool "Use maximum TX power (8 dBm)"
    default y
    help
        Enable maximum transmit power of 8 dBm for better range.
        Disable to use the default TX power level.

config ZMK_SPLIT_ESB_RF_CHANNEL
    int "ESB RF channel"
    default 2
    range 0 100
    help
        RF channel for ESB communication (0-100).
        Change this if you experience interference from other
        2.4GHz devices. Each channel is 1MHz apart.

module = ZMK_SPLIT_ESB
module-str = ZMK_SPLIT_ESB
source "${ZEPHYR_BASE}/subsys/logging/Kconfig.template.log_config"

endif #ZMK_SPLIT && ZMK_SPLIT_ESB

# **************************************************************************
# Following config is cloned for battery monitoring, if BLE is not enabled.
# **************************************************************************

if ZMK_SPLIT && !ZMK_SPLIT_BLE
if ZMK_SPLIT_ROLE_CENTRAL

config ZMK_SPLIT_BLE_CENTRAL_PERIPHERALS
    int "Number of peripherals that will connect to the central."

config ZMK_SPLIT_BLE_CENTRAL_BATTERY_LEVEL_FETCHING
    bool "Fetch Peripheral Battery Level Info"

if ZMK_SPLIT_BLE_CENTRAL_BATTERY_LEVEL_FETCHING

config ZMK_SPLIT_BLE_CENTRAL_BATTERY_LEVEL_QUEUE_SIZE
    int "Max number of battery level events to queue when received from peripherals"
    default ZMK_SPLIT_BLE_CENTRAL_PERIPHERALS

config ZMK_SPLIT_BLE_CENTRAL_BATTERY_LEVEL_PROXY
    bool "Proxy Peripheral Battery Level Info"

endif #ZMK_SPLIT_BLE_CENTRAL_BATTERY_LEVEL_FETCHING

endif #ZMK_SPLIT_ROLE_CENTRAL
endif #ZMK_SPLIT && !ZMK_SPLIT_BLE
